$elementSeparator: '__';
$modifierSeparator: '--';

@function containsModifier($selector) {
    $selector: selectorToString($selector);
    @if str-index($selector, $modifierSeparator) {
        @return true;
    } @else {
        @return false;
    }
}

@function selectorToString($selector) {
    $selector: inspect($selector);
    $selector: str-slice($selector, 2, -2);
    @return $selector;
}

@function getBlock($selector) {
    $selector: selectorToString($selector);
    $modifierStart: str-index($selector, $modifierSeparator) - 1;
    @return str-slice($selector, 0, $modifierStart);
}

@mixin b($block) {
    .#{$block} {
        @content;
    }
}

@mixin e($element) {
    $selector: &;
    @if containsModifier($selector) {
        $block: getBlock($selector);
        @at-root {
            #{$selector} {
                #{$block+$elementSeparator+$element} {
                    @content;
                }
            }
        }
    } @else {
        @at-root {
            #{$selector+$elementSeparator+$element} {
                @content;
            }
        }
    }
}

@mixin m($modifier) {
    @at-root {
        #{&}#{$modifierSeparator+$modifier} {
            @content;
        }
    }
}
// public style params
$pubmargin:25px;

$primaryColor:#35A785;
$primaryLightColor:#3EC29A;
$primaryActiveColor:#239E6D;

$successColor:#13ce66;
$successLightColor:#51CF89;

$infoColor:#42E5D3;
$infoLightColor:#81E6DA;

$warningColor:#FFD82B;
$warningLightColor:#FFE263;

$errorColor:#FF422B;
$errorLightColor:#FF5F4A;

$dangerColor:#FF422B;
$dangerLightColor:#FF5F4A;

$defaultColor:#ffffff;
$cancelColor:#f6f6f6;

$lightColor:#ffffff;  //白色
$lighterColor:#F7F7F7;  //浅色背景色
// $border:#F0F0F0; //
$darkColor:#000000;  //黑色


$lightBorderColor:#dcdee2;  //浅色border
$lightBgColor:#f6f6f6;  //浅色背景，用于按钮浅色背景，块级元素背景

$textPrimaryColor:#606266;  //文本主色

//圆角
@mixin rounded($radius:10px){
    border-radius:$radius;
    -moz-border-radius:$radius;
    -webkit-border-radius:$radius;
}
//阴影
@mixin shadow($h-shadow:0px, $v-shadow:-1px, $blur:9px, $color:#DBDBDB){
  -moz-box-shadow:$h-shadow $v-shadow $blur $color;
  -webkit-box-shadow:$h-shadow $v-shadow $blur $color;
  box-shadow:$h-shadow $v-shadow $blur $color;
}
