// public style params
$pubmargin:25px;

$primaryColor:#35A785;
$primaryLightColor:#3EC29A;
$primaryActiveColor:#239E6D;

$successColor:#13ce66;
$successLightColor:#51CF89;

$infoColor:#70a1ff;
$infoLightColor:#78a6fa;

$warningColor:#FFD82B;
$warningLightColor:#FFE263;

$errorColor:#FF422B;
$errorLightColor:#FF5F4A;

$dangerColor:#FF422B;
$dangerLightColor:#FF5F4A;

$defaultColor:#ffffff;
$cancelColor:#f6f6f6;

$lightColor:#ffffff; //白色
$lighterColor:#F7F7F7; //浅色背景色
// $border:#F0F0F0; //
$darkColor:#000000; //黑色


$lightBorderColor:#dcdee2; //浅色border
$lightBgColor:#f6f6f6; //浅色背景，用于按钮浅色背景，块级元素背景

$textPrimaryColor:#606266; //文本主色